<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtwJIziCPLn42Z6cGTfDrPZ54TvFu3E2k</string>
	<key>GCM_SENDER_ID</key>
	<string>98173172500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fahadwaseem.ptielections.ptiElections</string>
	<key>PROJECT_ID</key>
	<string>ptielections-2024</string>
	<key>STORAGE_BUCKET</key>
	<string>ptielections-2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98173172500:ios:6f70da00942184d4f22001</string>
</dict>
</plist>